h1,
p {
    text-align : center;
}
img {
    width : 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.main-header{
    background-image: linear-gradient(rgb(255, 17, 0),rgb(0, 0, 0));
    position : fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
}
.header.info{
    text-align: left;
    color: rgb(154, 36, 27);
    position: absolute;
    left: 0;
    padding: 0;
    margin: 14-x 14px 0 14px;
}
.header.info a{
    padding: 0;
    text-decoration: none;
}
.header.info a:hover {
    background-color: transparent;
}
nav {
    position: absolute;
    right: 0;
    display: flex;
}
a {
    text-decoration: none;
    color : rgb(255, 255, 255);
    padding-right: 5px;
    float: left;
}
a:hover{
    background-color: rgb(127, 54, 54);
}
.judul{
    margin: 5%;
}
.title{
    font-style: italic;
    color :rgb(0, 0, 0)
}
h1,h2,h3,p{
    text-align: center;
    color: rgb(0, 0, 0);
}
.games{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
.game{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 380px;
    margin: 10px;
    background: rgb(116, 20, 116);
}
.portrait{
    width: 260px;
}
.images{
    display: flex;
    align-items: center;
    width: 350px;
    height: 240px;
}
img{
    border: 10px solid red;
    border-radius: 8px;
    box-shadow: 5px 5px 5px black;
    opacity: 0.5;
    background-image: url(https://e0.pxfuel.com/wallpapers/66/162/desktop-wallpaper-create-pixel-art-background-for-your-game-pink-pixel-art.jpg);
    background-size: cover;
}
img:hover{
    opacity: 1;
}
h3,p{
    text-align: center;
    padding: 5px;
    color: rgb(163, 211, 249);
}
body{
    background-image: url(https://th.bing.com/th/id/OIP.rbbfz24HgDzlYc99EP9O5AHaEo?rs=1&pid=ImgDetMain);
    background-size: cover;
}
section.cover{
    background-image: url(https://th.bing.com/th/id/OIP.rbbfz24HgDzlYc99EP9O5AHaEo?rs=1&pid=ImgDetMain);
    background-size: cover;
}